Repository brpaz/brunopaz.dev: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdownlint, astro-check

lefthook.yml:

# lefthook.yml
# Fast and powerful Git hooks manager
# Docs: https://lefthook.dev

pre-commit:
  parallel: true
  commands:
    # Lint and fix JavaScript/TypeScript/Astro files
    eslint:
      glob: '*.{js,ts,astro}'
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

    # Format code files
    prettier:
      glob: '*.{js,ts,astro}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

    # Lint markdown files
    markdownlint:
      glob: '*.{md,mdx}'
      run: pnpm markdownlint {staged_files}
      skip:
        - merge
        - rebase

    # Astro type checking
    astro-check:
      glob: '*.{astro,ts}'
      run: pnpm astro check
      skip:
        - merge
        - rebase

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

refactor(ui): modernize UI with consistent design system
  src/assets/styles/global.css
  src/components/ContactForm.astro
  src/components/home/BlogPostCard.astro
  src/components/home/FeaturedProjectCard.astro
  src/components/home/FeaturedProjects.astro
  src/components/home/FeaturedPublications.astro
  src/components/home/Intro.astro
  src/components/home/MoreButton.astro
  src/components/home/TechStack.astro
  src/components/home/WhatIDo.astro
  src/components/shared/BaseCard.astro
  src/components/shared/Button.astro
  src/components/shared/Footer.astro
  src/components/shared/Navbar.astro
  src/components/shared/PageTitle.astro
  src/components/shared/SectionHeading.astro
  src/components/work/ProjectCard.astro
  src/pages/about.astro
  src/pages/contact.astro
  src/pages/work/index.astro
Due: eslint, prettier, astro-check

fix(ui): add spacing between project and blog post cards
  src/assets/images/projects/swordhealth/cover.png
  src/components/home/FeaturedProjects.astro
  src/components/home/FeaturedPublications.astro
  src/pages/work/index.astro
Due: eslint, prettier, astro-check

fix(ui): center tech stack logos horizontally on mobile
  src/components/home/TechStack.astro
Due: eslint, prettier, astro-check

fix(ui): prevent project images from being cropped on mobile
  src/components/home/FeaturedProjectCard.astro
  src/components/work/ProjectCard.astro
Due: eslint, prettier, astro-check

fix(ui): reduce blog post card size on homepage
  src/components/home/BlogPostCard.astro
Due: eslint, prettier, astro-check

fix(ui): align blog post icon and title horizontally
  src/components/home/BlogPostCard.astro
Due: eslint, prettier, astro-check

feat(ui): enhance blog post card with date and excerpt
  src/components/home/BlogPostCard.astro
Due: eslint, prettier, astro-check

feat(ui): hide blog icon on mobile and add pointer cursor to clickable cards
  src/components/home/BlogPostCard.astro
  src/components/shared/BaseCard.astro
Due: eslint, prettier, astro-check

fix(ui): improve border visibility on project cards
  src/components/shared/BaseCard.astro
Due: eslint, prettier, astro-check

feat: various updates
  prettier.config.js
  src/components/ContactForm.astro
  src/components/blog/Post.astro
  src/components/blog/TagsList.astro
  src/components/home/FeaturedProjectCard.astro
  src/components/home/FeaturedProjects.astro
  src/components/home/FeaturedPublications.astro
  src/components/home/Intro.astro
  src/components/home/TechStack.astro
  src/components/home/WhatIDo.astro
  src/components/shared/BaseCard.astro
  src/components/shared/Footer.astro
  src/components/work/ProjectCard.astro
  src/components/work/ProjectDetailGallery.astro
  src/components/work/ProjectDetailHeader.astro
  src/components/work/ProjectDetailTech.astro
  src/content/posts.ts
  src/content/projects.ts
  src/content/projects/ansible-role-swarm-postgres.md
  src/content/projects/b2-pg-backup.md
  src/content/projects/freshrss-cleaner.md
  src/content/projects/hadolint-action.md
  src/content/projects/ulauncher-github.md
  src/content/projects/ulauncher-vscode-projects.md
  src/content/site.ts
  src/layouts/Default.astro
  src/pages/404.astro
  src/pages/about.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/page/[page].astro
  src/pages/blog/tags/[tag]/[page].astro
  src/pages/contact.astro
  src/pages/support.astro
  src/pages/work/[...slug].astro
  src/pages/work/index.astro
Due: eslint, prettier, markdownlint, astro-check

chore: fix tests
  tests/e2e/blog.spec.ts
  tests/e2e/projects.spec.ts
Due: eslint, prettier, astro-check

feat(blog): add Giscus
  src/components/blog/GiscusComments.astro
  src/pages/blog/[...slug].astro
Due: eslint, prettier, astro-check

chore: updates
  README.md
  renovate.json
Due: markdownlint

chore(deps): update multiple deps
  package.json
  pnpm-lock.yaml
  src/pages/open-graph/[...route].ts
Due: eslint, prettier, astro-check

chore: more deps update
  package.json
  pnpm-lock.yaml
  renovate.json
Due: none

chore(deps): update multiple deps (#224)
  package.json
  pnpm-lock.yaml
  renovate.json
  src/pages/open-graph/[...route].ts
Due: eslint, prettier, astro-check

feat(blog): add Giscus (#221)
  README.md
  src/components/blog/GiscusComments.astro
  src/pages/blog/[...slug].astro
Due: eslint, prettier, markdownlint, astro-check

chore(release): [skip-ci] 1.5.0
  CHANGELOG.md
  package.json
Due: markdownlint

fix: menu z-index on mobile and broken og urls
  src/components/shared/Navbar.astro
  src/pages/blog/[...slug].astro
Due: eslint, prettier, astro-check

fix: menu z-index on mobile and broken og urls (#225)
  src/components/shared/Navbar.astro
  src/pages/blog/[...slug].astro
Due: eslint, prettier, astro-check

feat: ai inequality psot
  src/content/blogPosts/ai-tools-widening-developer-inequality-gap.mdx
  src/pages/open-graph/[...route].ts
Due: eslint, prettier, markdownlint, astro-check

chore(release): [skip-ci] 1.5.1
  CHANGELOG.md
  package.json
Due: markdownlint

fix: navbar position in mobile
  src/components/shared/Navbar.astro
  src/layouts/Default.astro
Due: eslint, prettier, astro-check

remove post
  src/content/blogPosts/ai-tools-widening-developer-inequality-gap.mdx
Due: markdownlint

fix: menu
  src/components/shared/Header.astro
  src/components/shared/Navbar.astro
  src/layouts/Default.astro
Due: eslint, prettier, astro-check

fix: remove cv from nav
  src/components/shared/Navbar.astro
Due: eslint, prettier, astro-check

fix: multiple
  src/components/shared/Navbar.astro
Due: eslint, prettier, astro-check

fix(layout): mobile menu position (#230)
  src/components/shared/Header.astro
  src/components/shared/Navbar.astro
  src/pages/open-graph/[...route].ts
Due: eslint, prettier, astro-check

chore(release): [skip-ci] 1.5.2
  CHANGELOG.md
  package.json
Due: markdownlint

feat(blog): two new posts
  src/content/blogPosts/ai-tools-widening-developer-inequality-gap.mdx
  src/content/blogPosts/how-i-improved-a-slow-mysql-query-100x-by-replacing-not-in.mdx
Due: markdownlint

new blog posts (#235)
  src/content/blogPosts/ai-tools-widening-developer-inequality-gap.mdx
  src/content/blogPosts/how-i-improved-a-slow-mysql-query-100x-by-replacing-not-in.mdx
Due: markdownlint

chore(release): [skip-ci] 1.5.3
  CHANGELOG.md
  package.json
Due: markdownlint

chore: updates
  package.json
  pnpm-lock.yaml
  src/assets/images/blog/obsidian-book-base.png
  src/assets/images/blog/obsidian-code-snippets-vicinae.png
  src/content/blogPosts/ai-tools-widening-developer-inequality-gap.mdx
  src/content/blogPosts/how-i-improved-a-slow-mysql-query-100x-by-replacing-not-in.mdx
  src/content/blogPosts/how-i-use-obsidian-to-take-notes-and-manage-all-my-knowledge.mdx
  src/content/blogPosts/tne-ability-to-delegate-effectively-as-a-critical-skill-for-engineering-managers.mdx
Due: markdownlint

chore: update deps
  pnpm-lock.yaml
Due: none

feat(blog): new posts about delegation and obsidian (#244)
  package.json
  pnpm-lock.yaml
  src/assets/images/blog/obsidian-book-base.png
  src/assets/images/blog/obsidian-code-snippets-vicinae.png
  src/content/blogPosts/how-i-use-obsidian-to-take-notes-and-manage-all-my-knowledge.mdx
  src/content/blogPosts/tne-ability-to-delegate-effectively-as-a-critical-skill-for-engineering-managers.mdx
Due: markdownlint

chore(release): [skip-ci] 1.6.0
  CHANGELOG.md
  package.json
Due: markdownlint

feat(ui): add RSS feed link to footer
  src/components/shared/Footer.astro
Due: eslint, prettier, astro-check
