Repository brpaz/brunopaz.dev: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdownlint, astro-check

eslint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

markdownlint:
  run: pnpm markdownlint {staged_files}
  skip:
  - merge
  - rebase

astro-check:
  run: pnpm astro check
  skip:
  - merge
  - rebase

chore: fix padding
  src/components/shared/Footer.astro
Due: eslint, prettier, astro-check

feat(ui): add RSS feed link to footer (#245)
  src/components/shared/Footer.astro
Due: eslint, prettier, astro-check

chore(deps): update deps
  .husky/_/commit-msg
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  .node-version
  devenv.lock
  devenv.yaml
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  renovate.json
Due: eslint, prettier, astro-check

chore(deps): update deps
  .github/workflows/ci.yml
Due: none

chore(deps): update deps (#254)
  .github/workflows/ci.yml
  .husky/_/commit-msg
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  .node-version
  devenv.lock
  devenv.yaml
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  renovate.json
Due: eslint, prettier, astro-check

feat(blog): new blog post and update deps
  .github/workflows/ci.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/sync-labels.yml
  devenv.lock
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  renovate.json
  src/assets/images/blog/nodejs-github-actions-timeout.png
  src/content/blogPosts/how-a-minor-nodejs-update-broke-playwright-and-exhausted-my-github-actions-budget-in-a-single-day.mdx
Due: markdownlint

chore: update devenv lock
  devenv.lock
Due: none

feat(blog): new blog post and update deps (#266)
  .github/workflows/ci.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/sync-labels.yml
  devenv.lock
  package.json
  pnpm-lock.yaml
  renovate.json
  src/assets/images/blog/nodejs-github-actions-timeout.png
  src/content/blogPosts/how-a-minor-nodejs-update-broke-playwright-and-exhausted-my-github-actions-budget-in-a-single-day.mdx
Due: markdownlint

chore(release): [skip ci] 1.7.0
  CHANGELOG.md
  package.json
Due: markdownlint

feat(blog): add golang wiring post
  src/content/blogPosts/how-do-i-wire-golang-applications.mdx
Due: markdownlint

feat(blog): add golang wiring post (#274)
  src/content/blogPosts/how-do-i-wire-golang-applications.mdx
Due: markdownlint

chore(release): [skip ci] 1.8.0
  CHANGELOG.md
  package.json
Due: markdownlint

chore: update tests
  src/components/blog/FormattedDate.astro
  src/components/blog/Post.astro
  src/components/blog/TagsList.astro
  src/components/home/Intro.astro
  src/layouts/Default.astro
  src/pages/about.astro
  src/pages/blog/[...slug].astro
  src/pages/blog/page/[page].astro
  src/pages/contact.astro
  src/pages/cv.astro
  src/pages/index.astro
  src/pages/support.astro
  tests/e2e/about.spec.ts
  tests/e2e/blog.spec.ts
  tests/e2e/contact.spec.ts
  tests/e2e/cv.spec.ts
  tests/e2e/homepage.spec.ts
  tests/e2e/projects.spec.ts
Due: eslint, prettier, astro-check

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(release): [skip ci] 1.9.0
  CHANGELOG.md
  package.json
Due: markdownlint

feat: replace content with collections
  src/components/cv/ExperienceTimeline.astro
  src/components/cv/PersonalProjectsList.astro
  src/content.config.ts
  src/content/experience.json
  src/content/experience.ts
  src/content/experiences.ts
  src/content/projects.json
Due: eslint, prettier, astro-check

feat: misc improvements
  src/assets/styles/global.css
  src/components/blog/Post.astro
  src/components/home/Intro.astro
  src/components/home/WhatIDo.astro
  src/layouts/Default.astro
  src/pages/404.astro
  src/pages/about.astro
  src/pages/blog/[...slug].astro
  src/pages/support.astro
Due: eslint, prettier, astro-check

feat: misc improvements (#280)
  src/assets/styles/global.css
  src/components/blog/Post.astro
  src/components/home/Intro.astro
  src/components/home/WhatIDo.astro
  src/layouts/Default.astro
  src/pages/404.astro
  src/pages/about.astro
  src/pages/blog/[...slug].astro
  src/pages/support.astro
Due: eslint, prettier, astro-check

chore(release): [skip ci] 1.10.0
  CHANGELOG.md
  package.json
Due: markdownlint

feat: add lighnting tip to blog
  src/components/blog/LightningTip.astro
  src/content/site.ts
  src/pages/blog/[...slug].astro
  src/pages/support.astro
Due: eslint, prettier, astro-check

fix: design of tags page
  src/pages/blog/tags/[tag]/[page].astro
Due: eslint, prettier, astro-check

fix: design of tags page (#282)
  src/pages/blog/tags/[tag]/[page].astro
Due: eslint, prettier, astro-check

chore(release): [skip ci] 1.10.1
  CHANGELOG.md
  package.json
Due: markdownlint

chore(renovate): update renovate configs plus bump pnpm packages
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  renovate.json
Due: none

chore(release): [skip ci] 1.10.2
  CHANGELOG.md
  package.json
Due: markdownlint

chore(renovate): automerge minor/patch, group github-actions, min release age
  renovate.json
Due: none

chore(renovate): automerge minor/patch, group github-actions, min release age (#306)
  renovate.json
Due: none

feat: multiple updates
  .devcontainer/devcontainer.json
  .draftsman.yml
  .env.example
  .github/release-drafter.yml
  .github/workflows/pr-checker.yml
  .github/workflows/release-drafter.yml
  .node-version
  devenv.lock
  devenv.nix
  devenv.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/home/Intro.astro
  src/content/site.ts
Due: eslint, prettier, astro-check

fix: remove unused/unnecessary exports flagged by astro/no-exports-from-components
  src/pages/blog/page/[page].astro
  src/pages/blog/tags/[tag]/[page].astro
Due: eslint, prettier, astro-check

fix: inline pageSize literals instead of top-level consts
  src/pages/blog/page/[page].astro
  src/pages/blog/tags/[tag]/[page].astro
Due: eslint, prettier, astro-check

chore(ci): fix workflow name
  .github/workflows/pr-checker.yml
Due: none

feat: add lighnting tip to blog (#281)
  .github/workflows/pr-checker.yml
  src/components/blog/LightningTip.astro
  src/content/site.ts
  src/pages/blog/[...slug].astro
  src/pages/blog/page/[page].astro
  src/pages/blog/tags/[tag]/[page].astro
  src/pages/support.astro
Due: eslint, prettier, astro-check

fix(draftsman): match tag-format to existing release tag scheme
  .draftsman.yml
Due: none

chore(release): [skip ci] 1.11.0
  CHANGELOG.md
  package.json
Due: markdownlint

Path conditions:
  eslint: any of: *.{js,ts,astro}
  prettier: any of: *.{js,ts,astro}
  markdownlint: any of: *.{md,mdx}
  astro-check: any of: *.{astro,ts}
